<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSDataBinding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3CCA990B1E448D8800A9BF91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCA99241E448D8900A9BF91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CCA992F1E448D8900A9BF91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
